@import url(fonts.css);


/* --------------- default selectors --------------- */
*, *::after, *::before {
   box-sizing: border-box;
}

body {
   background-color: #dddfe7;
   background-image: linear-gradient(0deg, #dddfe7, #f1f4fa);
   color: #4e5461;
   font-family: "Inter", sans-serif;
   margin: 0;
   min-height: 100vh;
}

main {
   padding: 1.5rem 1rem 4rem;
}

h1, h2, h3, h4, h5, h6 {
   font-weight: 600;
   margin: .875rem 0;
}

h1 {
   color: #45484e;
   font-size: 2.125rem;
   margin: 0 0 1.5rem;
   text-transform: capitalize;
}

h2 {
   color: #5a5c62;
   font-size: 1.75rem;
   margin: 1rem 0 1.5rem;
   text-transform: capitalize;
}

h3 {
   color: #4e5461;
   font-size: 18px;
   letter-spacing: .125px;
   margin-bottom: 1rem;
   margin-top: 1.75rem;
   opacity: .98;
}

h4 {
   color: rgba(78, 84, 97, 0.85);
   font-size: 15px;
   margin-top: 1.5rem;
}

p, li, dt, dd {
   color: #5e646f;
   font-size: 15.5px;
   line-height: 1.6;
   margin-bottom: 1.125rem;
}

p a {
   margin: 0 1px;
}

a {
   color: #5d7fda;
   text-decoration: none;
   transition: all .1s ease;
}

a:hover {
   text-decoration: underline;
}

li {
   margin: .375rem .25rem;
}

code {
   font-size: 15px;
   margin: 0 1px;
}

img {
   color: #757a83;
   font-size: 14px;
   font-style: italic;
   line-height: 1.6;
}


/* --------------- class selectors --------------- */

/* ---- header (start) ---- */
.global-header-nav {
   color: #ededed;
   background-image: linear-gradient(-90deg, #9dbcff, #88aeff, #779bfa, #6b8bec, #5779de);
   border-bottom: 1px solid #6f85bc;
   box-shadow: 0 0px 10px rgba(71, 93, 157, 0.85), inset 4px -6px 24px #4a6dbd;
   position: fixed;
   width: 100%;
   z-index: 9999;
}

.global-header-nav-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   max-width: 960px;
   margin: auto;
   padding: .25rem 1rem;
}

.brand-name {
   display: flex;
   align-items: center;
}

.brand-title  {
   color: #f8f8f8;
   cursor: pointer;
   font-family: "Outfit", sans-serif;
   font-size: 19px;
   font-weight: 600;
   letter-spacing: .625px;
   line-height: 1.125;
   margin: 0;
   padding-bottom: 2px;
   text-decoration: none;
   transition: all .15s ease;
}

.brand-title:hover {
   color: #e7ebf3;
   text-decoration: none;
}

.brand-icon {
   margin: -2px 8px 0 6px;
   opacity: .35;
   width: 16px;
}

.global-header-nav-menu {
   display: flex;
   align-items: center;
}

.global-header-nav-menu-item {
   color: #eef2f8;
   font-size: 13px;
   font-weight: 600;
   letter-spacing: .2px;
   line-height: 1;
}
.global-header-nav-menu-item:hover {
   color: white;  
   text-decoration: none;
}

.global-header-nav-menu-item:hover i {
   opacity: 1;
}

.global-header-nav-menu-item i {
   font-size: 95%;
   opacity: 1;
   padding-right: 4px;
   transition: all .1s ease;
}

.global-header-banner {
   display: flex;
   justify-content: flex-start;

   background-color: #a7c6ff;
   background-image: linear-gradient(90deg, #9bb8fb, #a7c6ff, #b5cefb, #bdd4ff);
   padding: 2rem 0 0;
}
/* ---- header (end) ---- */


.page-container {
   margin: auto;
   max-width: 960px;
}

.main-content img {
   width: 100%;   
   margin-bottom: .75rem; 
}

.content-section {
   background-color: white;
   background-color: rgb(255 255 255 / 80%);
   box-shadow: 2px 6px 6px rgb(0 0 0 / 5%);
   border-radius: 9px;
   margin: 16px 0;
   padding: 2rem;
}

.content-section>*:last-child {
   margin-bottom: 0;
}

.sub-page h1 {
   font-size: 1.75rem;
}

.nekogirl {
   filter: grayscale(1);
   opacity: 1;
   width: 136px;
}

.signature {
   color: #5f6d87;
   font-family: "Homemade Apple", cursive;
   font-size: 17.5px;
   margin: 1.125rem 0 .5rem;
   opacity: 1;
}

.section-notes {
   margin-top: 2.5rem;
}

.topic-screenshot-list {
   margin-top: 1.5rem;
}


/* ---- breadcrumb (start) ---- */
.breadcrumb {
   display: flex;
   align-items: center;

   color: #929aa8;
   font-size: 15.5px !important;
   letter-spacing: .1px;
   margin-bottom: 2.5rem;
   margin-top: .375rem;
   opacity: 1;
   /* text-transform: capitalize; */
}

.breadcrumb.sub-page {
   margin-top: 0;
}

.breadcrumb .fa-house {
   display: block;
   font-size: 14px;
   margin-top: -1px;
}

.breadcrumb a {
   color: #889dcc;
}

.breadcrumb a:hover {
   color: #7891cb;
   text-decoration: none;
}

.breadcrumb-separator {
   color: #b7bdc9;
   display: block;
   font-size: 13px;
   padding: 0 9px;
}
/* ---- breadcrumb (end) ---- */


/* ---- topic section (start) ---- */
.topic-section {
   border-bottom: 1px dashed #a6acbc;
   margin: 1rem 0 1.25rem;
}
 
.topic-section:last-child {
   border-bottom: 0;
   margin-bottom: 0;
   padding-bottom: 0;
}

.topic-section:last-child ul {
   margin-bottom: 0;
}

.topic-header-link:hover {
   text-decoration: none;
}

.topic-header-link:hover .topic-header-link-icon {
   opacity: 1;
}

.topic-header-link:hover h3 {
   text-decoration: underline;
}

.topic-header {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}

.topic-header-label {
   background-color: rgb(82 88 100 / 13%);
   border-radius: 5px;
   color: #656a75;
   font-size: 15px;
   font-weight: 500;
   letter-spacing: .125px;
   line-height: 1.425;
   margin-right: 12px;
   opacity: .9;
   padding: 0 8px;
   transition: all .1s ease;
}

.topic-header-title {
   color: #4e5461;
   font-size: 18px;
   letter-spacing: .125px;
   margin: 0;
   opacity: .98;
}

.topic-header-link-icon {
   color: #4e5461;
   font-size: 78%;
   opacity: .5;
   padding-left: 6px;
}

.topic-list li {
   list-style-type: circle;
}
/* ---- topic section (end) ---- */


/* ---- footer (start) ---- */
footer {
   background-color: #d7e3fc;
   background-image: linear-gradient(0deg, #a7abb3, #d8dce4, #eff2fa);
   background-image: linear-gradient(0deg, #aaaaaa, #dbdbdb, #f2f2f2);
   border-top: 1px solid #dadfe7;
   bottom: 0;
   box-shadow: 0 -4px 10px rgb(0 0 0 / 4%);
   padding: 3px 2rem;  
   position: fixed;    
   width: 100%;
}

footer p {
   font-size: .8rem;
   letter-spacing: .2px;
   margin: 0;
}

.footer-container {
   display: flex;
   align-items: center;
   justify-content: space-between;

   margin: auto;
   max-width: 960px;
   padding: 0 1rem;
}

.site-credits {
   display: flex;
   align-items: center;
}

.site-credits-container {
   display: flex;
   align-items: center;
}

.footer-copyrights {
   color: #808796;
   line-height: 1.25;
}
 
.footer-creator-name a {
   color: #808796;
   margin-left: 9px;
}

.footer-creator-name a:hover {
   color: #687080;
   text-decoration: none;
}

.footer-social {
   display: flex;
   align-items: center;

   font-size: .85rem;
}

.footer-social a {
   color: #808796;
   padding: 0 4px;
}

.footer-social a:hover {
   color: #687080;
}

.footer-social a:first-child {
   padding-left: 0;
}

.social-link-separator {
   color: #898d9b;
   font-size: 80%;
   opacity: .5;
   padding: 0 9px;
}

.footer-btn-group {
   display: flex;
   align-items: center;
}

.footer-btn {
   background-color: rgb(204 211 223 / 85%);
   background-image: linear-gradient(0deg, #9ea3ad, #dcdee5, #ffffff);
   border: 1px solid #b1b5c2;
   border-bottom: 1px solid #8e92a3;
   border-right: 1px solid #9598a7;
   border-radius: 5px;
   box-shadow: inset -1px -1px 3px rgba(148, 156, 174, 0.8), 1px 0px 3px rgb(148 156 174 / 50%);
   color: #6d7487;
   font-size: 12.5px;
   font-weight: 500;
   margin-right: 6px;
   padding: 1px 8px 0;
   transition: all .1s ease;
}

.footer-btn:hover {
   background-image: linear-gradient(180deg, rgb(186 191 202 / 80%), rgba(217, 219, 226, 0.8));
   box-shadow: inset 1px 1px 3px #787f90, 1px 0px 3px rgb(148 156 174 / 20%);
   color: #666f86;
   text-decoration: none;
   text-shadow: 1px -1px 3px #e1e5ee;
}

.footer-btn-link {
   color: #747b89;
   color: #808796;
   font-size: .8rem;
}

.footer-btn-link:hover {
   color: #687080;
   text-decoration: none;
}

.footer-btn-link i {
   margin-right: 6px;
   opacity: .8;
}
/* ---- footer (end) ---- */